@import "../../vars.css";

/* reset removed: avoid global body styles that break layout */

/* project card container */
.container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 300px;
  max-height: 700px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  margin: 2%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  aspect-ratio: 3 / 4;
  flex-direction: column;
  align-items: center;
}
.container:hover {
  box-shadow: 0px 10px 10px rgba(23, 172, 255, 0.3);
  transform: scale(1.1);
}
.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, white 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
/* project title */
.title {
  margin-top: 10%;
  margin-bottom: 75%;
  font-size: 23px;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
/* project type */
.description {
  color: #000;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
}
/* tech stack container */
.skills {
  display: flex;
  width: 100%;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}
.skill {
  margin: 5px 0;
  font-size: 14px;
  color: #000;
}
/* source button */
.source {
  display: inline-block;
  justify-content: center;
  text-decoration: none;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 16px 100px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  color: var(--color-text);
  background: var(--color-secondary);
}
.source:hover {
  cursor: pointer;
  background-color: #37498a;
}
.title,
.description,
.skills,
.source {
  position: relative;
  z-index: 2; /* overlay set to be above white effect */
}
