@import "../../vars.css";

/* container for nav bar section */
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 61px;
  z-index: 2;
  margin: 0 10%;
}
/* portfolio title */
.title {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}
/* menu bar */
.menu {
  display: flex;
}
.menuBtn {
  opacity: 0;
}
.menuItems {
  display: flex;
  gap: 47px; /* horizontal list */
  list-style: none; /* removes bullets */
}
/* individual menu item */
.menuItem a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
}
/* small screen */
@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
    opacity: 1;
  }
  .menuBtn {
    display: block;
    cursor: pointer;
    opacity: 1;
  }
  .menuItems {
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      var(--color-tertiary) 30%,
      rgb(3, 26, 68) 60%
    );
    padding: 0 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

    max-height: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.4s ease;
  }
  /* menu opening effect */
  .menuOpen {
    max-height: 500px;
    transform: translateY(0);
    padding: 24px 33px;
  }
}
