/*
variables define properties such as fonts, colors, etc.
easy to import, easy to reuse throughout project
*/
:root {
  --color-text: #fff;
  --color-primary: rgba(68, 90, 161, 0.322);
  --color-secondary: #576cbc;
  --color-tertiary: rgba(49, 83, 194, 0.322);
  --font-roboto: "Roboto";
}
